// Custom styles.
@font-face {
    font-family: 'FZFengYaKaiSongS';
    src: url('/fonts/FZFENGYKS_DAJW--GB1-0.eot');
    src: url('/fonts/FZFENGYKS_DAJW--GB1-0.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FZFENGYKS_DAJW--GB1-0.woff2') format('woff2'),
        url('/fonts/FZFENGYKS_DAJW--GB1-0.woff') format('woff'),
        url('/fonts/FZFENGYKS_DAJW--GB1-0.ttf') format('truetype'),
        url('/fonts/FZFENGYKS_DAJW--GB1-0.svg#FZFENGYKS_DAJW--GB1-0') format('svg');
    font-weight: 800;
    font-style: normal;
}

:root {
  --main-color: #0d8aba;
}

::selection {
  background-color: var(--main-color);
}

a:hover {
  color: var(--main-color);
  border-bottom-color: var(--main-color);
}

.headband {
  display: none;
}

.header {
  width: 100%;
  height: 100%;
  background-image: url('/images/maxime-le-conte-des-floris-151374-unsplash-grayscale.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brand {
  background-color: var(--main-color);
}

.site-title {
  font-family: 'FZFengYaKaiSongS';
  font-size: 32px;
  font-weight: 800;
}

.brand:hover {
  background: transparent;
  color: var(--main-color);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 0px 4px var(--main-color);
  -moz-box-shadow: inset 0px 0px 0px 4px var(--main-color);
  box-shadow: inset 0px 0px 0px 4px var(--main-color);
  transition: background .5s;
}

.site-nav {
  border-bottom: none;
}

.menu-item > a:hover {
  color: #222;  
}
.posts-expand .post-title-link:hover {
  color: var(--main-color);
}

.posts-expand .post-title-link::before {
  background-color: var(--main-color);
}

.sidebar {
  background-color: var(--main-color);
}

.sidebar-inner {
  color: #fff;
}

.sidebar-inner a {
  color: #fff;
}

.sidebar-inner a:hover {
  color: #ddd;
}

.sidebar-toggle {
  background-color: var(--main-color);
}

.links-of-author-item > a {
  border: none;
}

.links-of-author-item > a:before {
  display:none; 
}

.post-toc ol a,
.sidebar-nav .sidebar-nav-active {
  color: #fff;
  border-bottom-color: var(--main-color);
}

.post-toc .nav .active > a,
.post-toc .nav .active > a:hover,
.post-toc ol a:hover,
.sidebar-nav .sidebar-nav-active:hover {
  color: #fff;
  border-bottom-color: #fff;
  transition: border-bottom-color ease-in .2s;
}

.page-post-detail .sidebar-toggle-line {
  background-color: #fff;
}

.back-to-top {
  background-color: var(--main-color);
}

.pagination .prev:hover,
.pagination .next:hover,
.pagination .page-number:hover {
  border-color: var(--main-color);
}

.posts-expand .post-title,
.posts-expand .post-title-link {
  font-weight: bold;
}

.local-search-popup .search-keyword {
  background-color: var(--main-color);
  color: #fff;
  border-bottom: none;
}
